@media (max-width: 576px) {
    .fork-me {
        width: 3rem !important;
    }
}

body {
    font-family: 'Roboto Mono', monospace;
}

.fork-me {
    width: 15rem;
    right: 0;
    position: fixed;
    z-index: 999;
    top: 10rem;
    border: 1rem solid black;
}

a.fork-me:link {
    text-decoration: none;
}

a.fork-me:visited {
    text-decoration: none;
}

a.fork-me:hover {
    text-decoration: none;
}

a.fork-me:active {
    text-decoration: none;
}

nav>ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}