<div class="container border-bottom border-1 border-light pb-4">
    <div class="row border-bottom border-1 border-light pb-4">
        <div class="offset-3 col-6">
            <div class="profile-picture">
                <img src="../_assets/profile.jpg" class="mx-auto d-block mt-5 rounded-circle" alt="profile picture">
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <nav class="offset-3 col-6">
            <ul class="list-group list-group-horizontal justify-content-center">
                <li class="list-group-item border-0">
                    <a href="{{ site.url }}"><i class="fas fa-home text-black-50"></i></a>
                </li>
                <li class="list-group-item border-0">
                    <a href="{{ site.blog }}"><i class="fas fa-comment-alt text-black-50"></i></a>
                </li>
                <li class="list-group-item border-0">
                    <a href="mailto:{{site.email}}?Subject=Site"><i class="fas fa-envelope-open text-black-50"></i></a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="row mt-2">
        <nav class="offset-3 col-6">
            <ul class="list-group list-group-horizontal justify-content-center">
                <li class="list-group-item border-0">
                    <a href="https://github.com/{{ site.github_username }}"><i class="fab fa-github text-black-50"></i></a>
                </li>
                <li class="list-group-item border-0">
                    <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}"><i class="fab fa-linkedin-in text-black-50"></i></a>
                </li>
                <li class="list-group-item border-0">
                    <a href="https://twitter.com/{{ site.twitter_username }}"><i class="fab fa-twitter text-black-50"></i></a>
                </li>
            </ul>
        </nav>
    </div>
</div>