<html>
    <head>
        {% include head.html %}
    </head>
    
    <body id="body">
        
        <div class="wrapper">
             <a id="fork-me" class="fork-me" onclick="darkmode()" href="#">Fork this site on GitHub</a>
             <a id="dmode" class="fork-me" onclick="darkmode()" href="#">Switch to Dark Mode</a>
            {% include header.html %}
      
            <section class="content">
                
                 <div class="container" id="main-container">
                     {{ content }}
                </div>
            </section>
            
            {% include footer.html %}
        </div>
    </body>
</html>
